[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
beanie = "*"
python-decouple = "*"
isodate = "*"
rich = "*"
fastapi-jwt = "*"
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
email-validator = "*"

[dev-packages]
python-decouple-typed = "*"

[requires]
python_version = "3.12"
