[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
beanie = "*"
pyjwt = "*"
python-decouple = "*"
isodate = "*"
rich = "*"

[dev-packages]
python-decouple-typed = "*"

[requires]
python_version = "3.12"
